.fifty-percent{
    width: 50%;
}

.one-hundred-pixel{
    width: 100px;
}

.parent{
    width: 135px;
    font-size: 30px;
    /* width: 30px; */
    border: 2px solid black;
}

.box{
    background-color: coral;
    border: 2px solid black;
}

.fifty-vw{
    width: 50vw;
}

.twenty-five-vh{
    height: 25vh;
}

/* REM and EM */

.one-rem{
    font-size: 1rem;
}

.one-em{
    font-size: 1em;
}

.two-rem{
    font-size: 2rem;
}

.two-em{
    font-size: 2em;
}

/* 200% */
.two-hundred-percent{
    font-size: 200%;
}
/* icon */
.icon{
    background-color: coral;
}

.icon-container.large{
 font-size: 30px;
}

.em-icon{
    width: 1em;
    height: 1em;
}

.rem-icon{
    width: 1rem;
    height: 1rem;
}

